.count-btn{
    background-color: #130f40;
    color: white;
    width: 40px;
    border: none;
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    border: 1px solid #636e72;
}
.minus-btn{
    background-color: #bdc3c7;
}
.count-btn:focus{
    border: 2px solid orange;
}
.count-field{
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    text-align: center;
    border: 1px solid gray;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}